.table {
  box-sizing: border-box;
  border-collapse: collapse;

  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.finished {
  color: #646464;
}

.win {
  color: #047b0e;
}

.lose {
  color: #ff0000;
}

.draw {
  color: #ff9900;
}