.container {
  box-sizing: border-box;
  padding: 0 10px 0 20px;
  //font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  width: 100%;

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  a,
  p {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }

  .link {
    display: flex;
    gap: 0.5rem;

    &:hover {
      color: #32ffce;
    }
  }
}

.element {
  display: flex;
  gap: 0.5rem;
}
