.table {
  box-sizing: border-box;

  tbody {
    tr {
      cursor: pointer;
    }

    td {
      &.action {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .actionBlock {
    display: flex;
    gap: 10px;

    button {
      padding: 5px;
    }
  }
}
