.predictions {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      color: #6bb8d3;
    }
  }
}

.error {
  color: red;
  font-weight: bold;
}