.table {
  box-sizing: border-box;
  align-self: center;

  tbody {
    tr {
      cursor: pointer;
      text-wrap: nowrap;

      button {
        box-sizing: border-box;
        display: inline-flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

.status {
  color: #ce90fb;
  font-weight: bold;

  &.inactive {
    color: red;
  }

  &.active {
    color: green;
  }
}
