body {
  margin: 0;
  font-family: Arial, sans-serif;

  .app {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-height: 100dvh;
    color: #fff;
    background-color: transparent;

    position: relative;
    z-index: 0;
  }
}
